.footer-container{
    background-color: #525252;
    padding: 30px;
    position: absolute;
    width: 100%;
    
}
.projet-title{
    text-align: center;
    color: white;
}
.dev-info{
    text-align: center;
    color: white;
}